@model Dynobil.Entities.SellingAdvert

@{
    ViewData["Title"] = "AddNewAdvert";
}

<h1>Yeni İlan Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewAdvert" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Brand", "Brand")
                <select id="brandDropdown" class="form-control">
                    <option value="">Select Brand</option>
                    @foreach (var brand in (SelectList)ViewBag.BrandList)
                    {
                        <option value="@brand.Value">@brand.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModelId, "Model Seçimi")
                @Html.DropDownListFor(model => model.ModelId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Model", new { @class = "form-control", id = "modelDropdown" })
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Yıl</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label">Satış Fiyatı</label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KmDriven" class="control-label">KM</label>
                <input asp-for="KmDriven" class="form-control" />
                <span asp-validation-for="KmDriven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label">Yakıt</label>
                <select asp-for="Fuel" class="form-control">
                    <option value="Benzin">Benzin</option>
                    <option value="Deisel">Diesel</option>
                    <option value="LPG">LPG</option>
                    <option value="Electrik">Elektrik</option>
                    <option value="Hybrid">Hybrid</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label">Vites</label>
                <select asp-for="Transmission" class="form-control">
                    <option value="Automatic">Automatic</option>
                    <option value="Manuel">Manuel</option>
                    <option value="Semi-Automatic">Semi Automatic</option>
                </select>
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Engine" class="control-label">Motor</label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label">Koltuk Sayısı</label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="hidden" value="true" class="form-check-input" asp-for="IsActive" />
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="hidden" value="false" asp-for="IsDeleted" />
                </label>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-araund">
                <input type="submit" value="Ekle" class="btn btn-primary" style="width:125px;" />
                <button class="btn btn-secondary" asp-action="Index" style="text-decoration:none; font-size:20px;">İlanlara Dön</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#brandDropdown').change(function () {
                var brandId = $(this).val();
                $('#selectedBrandId').val(brandId);
                $('#modelDropdown').empty();

                if (brandId) {
                    $.getJSON('@Url.Action("GetModelsByBrandId", "Advert")', { brandId: brandId }, function (models) {
                        $('#modelDropdown').append('<option value="">Select Model</option>');
                        $.each(models, function (index, model) {
                            $('#modelDropdown').append('<option value="' + model.id + '">' + model.name + '</option>');
                        });
                    });
                } else {
                    $('#modelDropdown').append('<option value="">Select Model</option>');
                }
            });
        });
    </script>
}

